.text-yellow {
    color: #FDD70E;
}
.bg-yellow {
    background-color: #FDD70E;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}
.work {
    font-family: 'Work Sans', sans-serif;
}
.text-gradient {
        background: linear-gradient(to right, #ec54a0 0%, #ef4444 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
html {
    scroll-behavior: smooth;
}

.no-appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
